<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <form action="/post" method="post">
      <input type="text" name="title">
      <select name="category">
         <option value="1">HTML</option>
         <option value="2">CSS</option>
         <option value="3">JS</option>
      </select>
      <textarea name="content"></textarea>
      <button>SEND</button>
   </form>
</body>
</html>