<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
</head>
<body>
    <form action="/createTask" method="post">
        <input type="text" name="title" id="" placeholder="Title...">
        <input type="text" name="description" id="" placeholder="Description...">
        <input type="number" name="point" id="" placeholder="Project Point">
        <input type="number" name="eid" id="" placeholder="Employee ID">
        <input type="datetime-local" name="deadline" id="" placeholder="Deadline">
        <input type="submit" value="Add">
    </form>
</body>
</html>